root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,cshtml,razor,json,md,yml,yaml}]
indent_style = space
indent_size = 4

[*.{json,md,yml,yaml}]
indent_size = 2

[*.cs]
# Style
csharp_new_line_before_open_brace = all
csharp_preserve_single_line_blocks = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_using_directive_placement = outside_namespace:suggestion
dotnet_sort_system_directives_first = true

# Naming
dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = underscore_prefix_style
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field

dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_prefix_style.capitalization = camel_case
dotnet_naming_style.underscore_prefix_style.required_prefix = _

# Analysis
dotnet_diagnostic.CA1822.severity = warning
